@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <h2>pro roblox</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản Thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>

        </ul>
    </nav>

    <article>
        <h1>Trần Hoài Nam</h1>
        <table>
            <thead>
            <th>STT</th>
            <th>MSSV</th>
            <th>Họ và Tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>01</td>
                    <td>Trần Hoài Nam</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>02</td>
                    <td>Trần Duy Khánh</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>03</td>
                    <td>Phan Minh Hoàng</td>
                </tr>
            </tbody>
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>copywriter</p>
</footer>
</div>
