
@{
    ViewBag.Title = "Thông tin sinh viên";
}

<h2>Thông tin sinh viên</h2>

<p>
    <strong>Họ tên:</strong> @ViewBag.HoTen <br />
    <strong>MSSV:</strong> @ViewBag.MSSV <br />
    <strong>Năm:</strong> @ViewBag.Nam
</p>
